<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les categories</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <!-- <ul class="d-flex justify-content-between" >
                <a type="button" class="btn btn-outline-info" th:text="${c.name}" th:each="c:${listCategories}"
                    th:href="@{/categoryArticles(id=${c.id})}"></a>
            </ul> -->


            <div class="">
                <div class="panel-heading  p-2">
                    <h4 class="panelTitle">Liste des categories</h4>
                </div>


                <div class="md-6 d-flex  listAdmin">
                    <div th:each="c:${listCategories}">
                        <div class=" margin-30px-bottom card-category">
                            <a class="" th:href="@{/editCategory(id=${c.id})}">
                                <img class="x-edit-cat" th:src="@{/img/edit.png}" alt="edit"></a>
                            <div class="col-md-4 xs-margin-30px-bottom">

                                <a href="#" class="">
                                    <div class="">
                                        <img th:src="@{/img/}+${c.imgUrl}" alt="" class="img-category">
                                        <h5 class="text-info p-2" th:text="${c.description}"></h5>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item" th:each="page,status:${pages}">
                        <a th:class="${currentPage==status.index}?'nav-link active':'nav-link'"
                            th:href="@{/adminListCategories(page=${status.index},keyword=${keyword})}" th:text="${status.index}"></a>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</body>

</html>