<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index.html}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin articles</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="panel">
				<div class="panel-heading p-2">
					<h4 class="panelTitle">Liste des articles</h4>
				</div>
				<div class="panel-body p-2">
					<form th:action="@{/adminListArticles}" method="get">
						<label for="">Keyword</label> <input type="text" name="keyword"
							th:value="${keyword}">
						<button type="submit" class="btn btn-success">Search</button>
					</form>

					<!-- //////////////// -->
					<div class="md-6 d-flex flex-wrap listAdmin">
						<!-- product -->
						<div th:each="a:${listArticle}">
							<div class="product-content product-wrap">
								<div class="row">
									<div class="col-md-5 col-sm-12 col-xs-12">
										<div class="product-image">
											<img th:src="@{/img/}+${a.imgUrl}" alt="194x228"
												class="img-responsive">
										</div>
									</div>
									<div class="col-md-7 col-sm-12 col-xs-12">
										<div class="product-deatil">
											<h4 class="name" th:text="${a.brand}">brand</h4>

											<p class="price-container" th:text="${a.price}">price €</p>

											<!-- Delete Article -->
											<a class="x-del"
												th:href="@{/delete(id=${a.id}, page=${currentPage}, keyword=${keyword})}">
												<img th:src="@{/img/x-button.png}" alt="delete">
											</a>

											<!-- Update Article -->
											<a class="" th:href="@{/editArticle(id=${a.id})}">
												<img class="x-edit" th:src="@{/img/edit.png}"
													data-bs-toggle="modal" data-bs-target="#updateArticleModal"
													alt="edit" />
											</a>

										</div>

										<div class="description" th:text="${a.description}">
											<h6>description</h6>
										</div>

										<div class="cat-name" th:text="${a.Category.description}">
											<h6>nom de la categorie</h6>
										</div>

										<div class="product-info smart-form">
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-6 d-flex"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- end product -->
				</div>

				<!-- les boutons de pagination -->
				<ul class="nav nav-pills">
					<li class="nav-item" th:each="page,status:${pages}"><a
							th:class="${currentPage==status.index}?'nav-link active':'nav-link'"
							th:href="@{/adminListArticles(page=${status.index},keyword=${keyword})}"
							th:text="${status.index}"></a></li>
				</ul>


			</div>
		</div>

	</div>

	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>