<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <section class="py-6 bg-light-primary">
                <div class="container">
                    <div class="row justify-content-center text-center mb-4">
                        <div class="col-xl-6 col-lg-8 col-sm-10">
                            <h2 class="font-weight-bold">Administration <br>GEEK & SpringFullShopping</h2>
                            <p class="text-muted mb-0">C'est de là que commence toutes choses....</p>
                        </div>
                    </div>

                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center px-xl-6 aos-init aos-animate"
                        data-aos="fade-up">

                        <div class="col my-3">
                            <!-- ajout lien -->
                            <div class="card border-hover-primary hover-scale" id="adminCard">
                                <div class="card-body">
                                    <a th:href="@{/addArticle}">
                                        <div class="text-primary mb-5">
                                            <img th:src="@{/img/add.png}" alt="">
                                        </div>
                                    </a>
                                    <h6 class="font-weight-bold mb-3">Ajouter un article</h6>
                                    <p class="text-muted mb-0">Pour l'ajouter à notre catalogue</p>
                                </div>
                            </div>
                        </div>
                        <div class="col my-3">
                            <!-- ajout lien -->
                            <div class="card border-hover-primary hover-scale" id="adminCard">
                                <div class="card-body">
                                    <a th:href="@{/adminListArticles}">
                                        <div class="text-primary mb-5">
                                            <img th:src="@{/img/bullet-list.png}" alt="">
                                        </div>
                                    </a>
                                    <h6 class="font-weight-bold mb-3">Listes des articles</h6>
                                    <p class="text-muted mb-0">Ensemble de nos articles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col my-3">
                            <div class="card border-hover-primary hover-scale" id="adminCard">
                                <div class="card-body">
                                    <a th:href="@{/adminListCategories}">
                                        <div class="text-primary mb-5">
                                            <img th:src="@{/img/category_list.png}" alt="">
                                        </div>
                                    </a>
                                    <h6 class="font-weight-bold mb-3">Listes des categories</h6>
                                    <p class="text-muted mb-0">Emsemble de nos catégories</p>
                                </div>
                            </div>
                        </div>
                        <div class="col my-3">
                            <div class="card border-hover-primary hover-scale" id="adminCard">
                                <div class="card-body">
                                    <div class="text-primary mb-5">
                                        <a th:href="@{/addCategory}"><img th:src="@{/img/add_category.png}" alt="">
                                    </div></a>
                                    <h6 class="font-weight-bold mb-3">Ajouter une categorie</h6>
                                    <p class="text-muted mb-0">Pour l'ajouter à nos catégories</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- <div *ngIf="problemAdmin" class=" alert alert-danger mt-5 col-md-3 ">
            Vous avec été déconnécté, reconnectez-vous.
        </div> -->

    </div>

</body>

</html>