<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{index.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes articles</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <ul class="d-flex justify-content-between">
                <a type="button" class="btn btn-outline-info" th:text="${c.name}" th:each="c:${listCategories}"
                    th:href="@{/categoryArticles(id=${c.id})}"
                    ></a>
            </ul>
            <div class="categorie-card">
                <div class="panel-heading p-2">
                    <h4 class="panelTitle">Liste des articles de la catégorie <span class="catName" th:text="${catName}"></span></h4>
                </div>
                <div class="panel-body p-2">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Brand</th>
                            <th>Description</th>
                            <th>Prix</th>
                        </tr>
                        <tr th:each="a:${listCategoryArticles}">
                            <td th:text="${a.id}"></td>
                            <td th:text="${a.brand}"></td>
                            <td th:text="${a.description}"></td>
                            <td th:text="${a.unitaryPrice}"></td>
                          
                        </tr>
                    </table>
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="page,status:${pages}">
                            <a th:class="${currentPage==status.index}?'nav-link active':'nav-link'"
                                th:href="@{/articlesByCategory(page=${status.index})}"
                                th:text="${status.index}"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</body>

</html>