<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les articles</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <ul class="d-flex justify-content-between">
                <a type="button" class="btn btn-outline-info" th:text="${c.description}" th:each="c:${listCategories}"
                    th:href="@{/categoryArticles(id=${c.id})}"></a>
            </ul>
            <div class="panel">
                <div class="panel-heading p-2">
                    <h4 class="panelTitle">Liste des articles</h4>
                </div>

                <div class="panel-body p-2">
                    <div class="d-flex justify-content-between">
                        <form th:action="@{/articles}" method="get">
                        <label for="">Keyword</label>
                        <input type="text" name="keyword" th:value="${keyword}">
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="page,status:${pages}">
                            <a th:class="${currentPage==status.index}?'nav-link active':'nav-link'"
                                th:href="@{/articles(page=${status.index},keyword=${keyword})}"
                                th:text="${status.index}"></a>
                        </li>
                    </ul>  
                    </div>
                  
                    <!-- //////////////// -->
                    <div class="md-6 d-flex flex-wrap listAdmin">
                        <!-- product -->
                        <div th:each="a:${listArticle}">
                            <div class="product-content product-wrap">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <div class="product-image">
                                            <img th:src="@{/img/}+${a.imgUrl}" alt="194x228" class="img-article">
                                          
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="product-deatil">
                                            <h4 class="name" th:text="${a.brand}"></h4>
                                            <p class="price-container" >
                                                <span th:text="${a.price} + €"> </span>
                                            </p>
                                        </div>
                                        <div class="description" >
                                            <h6 th:text="${a.description}"></h6>
                                        </div>
                                        <div class="cat-name" >
                                            <h6 th:text="${a.Category.description}"></h6>
                                        </div>
                                        <div class="product-info smart-form">
                                            <div class="row">
                                                <div class="sold_stars ml-auto"> <i class="fa-solid fa-star"></i> <i
                                                        class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                                </div>
                                                <a class="cart-button" th:href>
                                                    <!-- a tester ou modifier -->
                                                    <!-- Add to cart  -->
                                                    <span class=" add-to-cart">Add
                                                        to
                                                        cart</span>
                                                    <span class="added">Item
                                                        added</span> <i class="fa fa-plus"></i> <i
                                                        class="fa fa-circle-thin"></i> <i class="fa fa-check"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end product -->
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src=""></script>
</body>

</html>