<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--  lien du css à faire -->
<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
<title>Document</title>
</head>

<body>
	<!--  fichier qui sera le layout !!!!! -->

	<!--  nav -->
	<nav id="header" class="navbar navbar-expand-sm navbar-light">
		<a th:href="@{/}" class="navbar-brand"><img
			th:src="@{img/logo_g-c.png}" alt="" class="logo">GEEK & SpringFullShopping</a>
		<ul class="navbar-nav">
			<li class="nav-item"><a th:href="@{/articles}" class="nav-link">Liste
					des articles.</a></li>
			<!-- <li class="nav-item"><a th:href="@{/register}" class="nav-link">S'enregistrer.</a> -->
			</li>
			<li class="nav-item"><a th:href="@{/login}" class="nav-link">Se
					connecter.</a></li>
			<li class="nav-item d-flex">
				<a  class="nav-link" id="linkAdmin" th:href="@{/admin}">ADMIN</a>
			</li>
		</ul>

		<!-- avatar -->
		<div class="col-md-4 welcome">
			Bienvenue <img th:src="@{img/avatar.png}">
		</div>
		<div id="Caddy" class="cart d-flex align-items-center">
			<a th:href="@{/caddy}"><img th:src="@{img/cart.png}" alt="Panier"
				class="img_cart"></a>
			<!-- <h3 th:text="${}" id="qty-cart">0</h3> -->
		</div>
	</nav>

	<!--  la section layout par ici -->
	<section layout:fragment="content"></section>
<script src="button.js"></script>
</body>

</html>