<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index.html}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Order</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<!-- Main content -->
			<div th:if="${size!=0}">
				<div class="row">
					<div class="col-lg-8">
						<!-- Details -->
						<div class="card mb-4 " id="orderCard">
							<div class="card-body">
								<div class="mb-3 d-flex justify-content-between">
									<div>
										<span class="me-3">06/21/2048</span> <span class="me-3">#16123222</span>
										<span class="me-3">Visa -1234</span> <span
											class="badge rounded-pill bg-info">SHIPPING</span>
									</div>
								</div>
								<table class="table table-borderless">
									<tbody>
										<tr th:each="a:${listCaddy}">
											<td>
												<div class="d-flex mb-2">
													<div class="flex-shrink-0">
														<img th:src="@{/img/}+${a.imgUrl}" alt="" width="35"
															class="img-fluid">
													</div>
													<div class="flex-lg-grow-1 ms-3">
														<h6 class="small mb-0">
															<a class="text-reset" th:text="${a.brand}"></a>
														</h6>
														<span class="small" th:text="${a.description}"></span>
													</div>
												</div>
											</td>

											<td th:text="${a.quantity}">qty</td>
											<td class="text-end" th:text="${a.price}">price €</td>

										</tr>


										<!-- function valider order -->


									</tbody>
									<tfoot>
										<tr>
											<td colspan="2">Shipping</td>
											<td class="text-end">$20.00</td>
										</tr>
										<tr>
											<td colspan="2">Discount (Code: NEWYEAR)</td>
											<td class="text-danger text-end">-$10.00</td>
										</tr>
										<tr class="fw-bold">
											<td colspan="2">TOTAL</td>
											<td class="text-end" th:text="${totalCaddy}">1000 €</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<!-- Payment-->
						<div class="card mb-4" id="payInfo">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 payMethod">
										<h3 class="h6">Payment Method</h3>
										<p>Visa -1234</p>
										<br>
										<p th:text="${totalCaddy}">Total: 1000 €</p>

										<!-- function valider order -->

										<a class="btn btn-success" th:href="@{/payment}"
											style="max-width: 200px;">Pay</a>

									</div>
									<div class="col-lg-6">
										<h3 class="h6">Billing address</h3>


										<address th:object="${customer}">
											<span th:text="${customer.name}" class="p-normal">nom</span>
											<span th:text="${customer.firstName}" class="p-normal">prénom</span> <br />
											<p th:text="${customer.address}" class="p-normal">adresse</p>
											<p th:text="${customer.phone}" class="p-normal">P:</p>
										</address>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<!-- Customer Notes -->
						<div class="card mb-4 " id="customerNotes">
							<div class="card-body">
								<h3 class="h6">Customer Notes</h3>
								<p>En cas d'absence, livrez au relais colis le plus proche.</p>
							</div>
						</div>
						<div class="card mb-4" id="shippingInfo">
							<!-- Shipping information -->
							<div class="card-body">
								<h3 class="h6">Shipping Information</h3>
								<strong>FedEx</strong> <span><a class="text-decoration-underline"
										target="_blank">FF1234567890</a>
									<i class="bi bi-box-arrow-up-right"></i> </span>
								<hr>

								<h3 class="h6">Address</h3>

								<address th:object="${customer}">
									<span th:text="${customer.name}" class="p-normal">nom</span>
									<span th:text="${customer.firstName}" class="p-normal">prénom</span> <br />
									<p th:text="${customer.address}" class="p-normal">adresse</p>
									<p th:text="${customer.phone}" class="p-normal">P:</p>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${size==0}" class="container-fluid  mt-100">
				<div class="row">
					<div class="col-md-12">
						<div class="card" id="emptyCard">
							<div class="card-header">
								<h5>Cart</h5>
							</div>
							<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img th:src="@{/img/dCdflKN.png}" width="130" height="130"
										class="img-fluid mb-4 mr-3">
									<h3>
										<strong>Votre panier est vide</strong>
									</h3>
									<h4>Add something to make me happy :)</h4>
									<div class="column">
										<a class="btn btn-outline-secondary" th:href="@{/articles}"><i
												class="icon-arrow-left"></i>&nbsp;Back to Shopping</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>

</html>